/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.afterotp {
    display: none;
}

.card.h210 {
    height: 210px;
}

.center {
    text-align: center;
}

.votecounter {
    display: inline-block;
    /* padding: 3px; */
    /* border: 1px solid #A9A9A9; */
    min-width: 20px;
    /* vertical-align: super; */
    font-size: 1.5em;
}

.dullbg {
    background-color: #F7F7F6;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* ///////////////////// Profile Photo //////////////*/
.profile-img-container {
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}

    .profile-img-container img {
        width: 150px;
    }
        /* remove if using in grid system */


        .profile-img-container img:hover {
            opacity: 0.5
        }

    .profile-img-container:hover a {
        opacity: 1; /* added */
        top: 0; /* added */
        z-index: 500;
    }
        /* added */
        .profile-img-container:hover a span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            font-size: 22px;
            color: white;
            text-shadow: 2px 2px 4px #000000;
        }
    /* added */
    .profile-img-container a {
        display: block;
        position: absolute;
        top: -100%;
        opacity: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        color: inherit;
    }

/* //////////////////////// File uploader ////////////////////////////////*/
.PI-droppable {
    background: #eaeaea;
    color: #909090;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}

    .PI-droppable.dragover {
        background: #00CC71;
    }
