@page
@using  IdeaTree.Models
@model IdeaTree.Pages.Admin.EditUserModel

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-user">

                <div class="card-body">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MemberID" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label">Phone</label>
                            <input type="text" asp-for="Phone" readonly="readonly" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email"  type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country" class="control-label">Country</label>
                            <select asp-for="Country"  class="form-control" asp-items="@(new SelectList(Model.Countries, "Abbr", "Full"))">
                                
                            </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Status</label>
                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusType>()">
                                <option value="">Pick one</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" asp-for="Newsletter" /> @Html.DisplayNameFor(model => model.Newsletter)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>