@model IdeaTree.Models.LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center align-items-center" style="margin:50px 0px;">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Log in</h5>
                <form asp-action="login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                    @if (!ViewData.ModelState.IsValid)
                    {
                    <div class="alert alert-danger" role="alert">@Html.ValidationMessage("Error")</div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Phone" class="form-control" id="phonetxt" placeholder="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="OTP" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="margin-top:20px;">Log in</button>
                </form>
                <hr />
                <p style="text-align:center;">If you do not have an OTP <a href="#" class="btn btn-primary btn-sm" onclick="GenerateOTP()">Generate OTP</a></p>
                <hr />
                <p style="text-align:center;">New to IdeaTree? <a href="@Url.Content("~/home/signup")">Sign up</a></p>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        function GenerateOTP() {
            jQuery.post("@Url.Content("~/Home/generateotp")",
                {
                    phone: $("#phonetxt").val()
                }, function (resp) {
                    if (resp.result) {
                        alert("One time password is generated and sent to your registered phone number.");
                    } else {
                        if (resp.message === "notfound") {
                            alert("Phone number not found.")
                        }
                    }
                }, "json");
        }
    </script>
}