@model IdeaTree.Models.ManageProfileModel

@{
    ViewData["Title"] = "Update Information";
}

<div class="row">
    <div class="col-md-7">
        <h2>Update Profile Information</h2>
        <form asp-action="manage">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Phone" />
            <div class="form-group row">
                <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Phone" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FullName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Bio" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="Bio" class="form-control" style="width:100%;max-height:350px;"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Picture</label>
                <div class="col-sm-10">
                    @if (!string.IsNullOrEmpty(Model.Image))
                    {
                        <img src="@Model.Image" style="max-width:150px; max-height:150px;" />
                    }
                    else
                    {
                        <i class="fa-7x far fa-user"></i>

                    }
                    <button type="button" class="btn m-2 btn-sm" data-toggle="modal" data-target="#profilePicModal">Upload Image</button>
                    <!-- Modal -->
                    <input type="file" id="pictureFile" onchange="readURL(this);" accept="image/jpeg, image/png" />
                    <div style="max-width:200px; max-height:200px;overflow:auto;">
                        <img id="blah" src="#"  alt="your image" />
                    </div>

                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#blah')
                                        .attr('src', e.target.result)
                                        ;
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Newsletter">
                        <label class="form-check-label" asp-for="Newsletter">
                            Receive updates on ideas you have posted.
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>


