
@{
    ViewData["Title"] = "Profile Not Found";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="center">
            Profile Not Found
        </h1>
    </div>
</div>


